<%- partial('head') %>




    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>

  <body>
    <div id="fb-root"></div>

    <script type="text/javascript">

	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=371656099548187";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

    </script>

	<% if (ismobile) { %>

		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9581795834127896";
		/* Mobile Banner */
		google_ad_slot = "0973657599";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>

	<% } else { %>

	<!-- ads -->
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-9581795834127896";
	/* myfirstads */
	google_ad_slot = "5461474990";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
	
	<% } %>


    <header class="clearfix">
      
      <div>
	    <a href="/" alt="Social Chat"><h1>Social Chat</h1></a>
        
      </div>

	  <div class="fb-like" data-href="http://chat.skychen.com/" data-send="false" data-width="300" data-show-faces="false"></div>
	  <g:plusone></g:plusone>
	
      <script type="text/javascript">
	      window.___gcfg = {
	        lang: 'en-US'
	      };

	      (function() {
	        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	        po.src = 'https://apis.google.com/js/plusone.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	      })();
	  </script>
	
    </header>

    <!--
    <section id="get-started">
      <p>This is my app, I can edit it all I want.</p>
      <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
    </section>
    -->

	<section id="guides" class="clearfix">
		
	<table >
		<tr>
			<td style="vertical-align:top;">	
		
	    <div id="content">
	    	
			<h2>Privacy Policies</h2>
	          <p>
	            July 12, 2012
	          </p>
	          <p>  
	            Social Chat is built from the ground up with your privacy and security in mind.
	          </p>
	          <h2>Overview</h2>
	          <p>
	            It's simple. Any information we capture from you (IP address, browser version, social networks login ID, etc.) <b>will not be</b> shared with anyone else. 
	  We won't use it for anything either without your consent. <br>
	          </p>
	          <h2>No social networks Profile Data Stored on Our Servers</h2>
	          <p>
	            We are not storing any of your social networks profile data on our server. 
	  This is less infomration than shared by your social networks on your public social networks profile page.
	          </p>
	          <h2>No Anonymous Chat</h2>
	          <p>
	            When you login to chat, your partner will see your name and your social networks profile picture. 
	  No other information will be shared.
	          </p>
	
	    </div>
	
		</td>
	
		<% if (!ismobile) { %>
	
		<td style="vertical-align:top;">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9581795834127896";
			/* sidebar */
			google_ad_slot = "6058372133";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</td>
	
		<% } %>
	
	</tr>
	</table>
	
    </section>

    
<%- partial('foot') %>

