<%- partial('head') %>




    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>

  <body>
    <div id="fb-root"></div>

    <script type="text/javascript">

	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=371656099548187";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

    </script>

	<% if (ismobile) { %>

		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9581795834127896";
		/* Mobile Banner */
		google_ad_slot = "0973657599";
		google_ad_width = 320;
		google_ad_height = 50;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>

	<% } else { %>

	<!-- ads -->
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-9581795834127896";
	/* myfirstads */
	google_ad_slot = "5461474990";
	google_ad_width = 728;
	google_ad_height = 90;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
	
	<% } %>



    <header class="clearfix">
      
      <div>
	    <a href="/" alt="Social Chat"><h1>Social Chat</h1></a>
      </div>

	  <div class="fb-like" data-href="http://chat.skychen.com/" data-send="false" data-width="300" data-show-faces="false"></div>
	  <g:plusone></g:plusone>
	
      <script type="text/javascript">
	      window.___gcfg = {
	        lang: 'en-US'
	      };

	      (function() {
	        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	        po.src = 'https://apis.google.com/js/plusone.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	      })();
	  </script>
	
    </header>

    <!--
    <section id="get-started">
      <p>This is my app, I can edit it all I want.</p>
      <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
    </section>
    -->

	<section id="guides" class="clearfix">
	<table >
		<tr>
			<td style="vertical-align:top;">
		<div id="content">
			
			<h3>Terms of Service</h3>  
		         <p>
		           July 12, 2012
		         </p>
		         <p>
		           Your access to Social Chat Node is governed by the Social Chat Node terms of service. The terms of service, 
		           including the Privacy and Security Policy, are subject to change solely at the discretion of Social Chat Node and its management.
		         </p>
		         <p>
		           By using the Social Chat Node, you are agreeing to be legally bound by these Terms of Service. 
		           If at any time you are not willing to be bound by all of these Terms of Service, then you must not use the Social Chat Node Service.
		         </p>
		          <p>&nbsp;</p>
		         <h4>Your Account</h4>
		         <p>
		          You need to be 13+ to use  Social Chat Node.
		          You need to have a valid social networks account. 
		          Social Chat Node can refuse registration of at any time.
		          Social Chat Node does not store any social networks account information on their servers.
		         </p>
		          <p>&nbsp;</p>
		         <h4>Content and Intellectual Property</h4>
		         <p>
		           Social Chat Node owns the Social Chat Node Service as a whole, including all computer code, graphics, user interfaces and audiovisual
		           content used to provide the Social Chat Node Service, and the combination of all the elements on the Social Chat Node Service.
		        </p>
		          <p>&nbsp;</p>
		        <h4>Code of Conduct</h4>
		        <p>
		          We don't tollerate offensive, threatening, libelous, defamatory, and obscene behaviour.
		        </p>
		        <p>
		          Social Chat Node has the right, but not the obligation, to block user that we determine in our sole discretion to behave be unlawful, 
		          offensive, threatening, libelous, defamatory, obscene or otherwise objectionable,
		          or that is detrimental to the quality or intended spirit of the Social Chat Node Service. Social Chat Node also has the right, but not the obligation,
		          to limit or revoke the use privileges of the service of anyone who posts such Content.
		        </p>
		          <p>&nbsp;</p>
		        <h4>General Terms</h4>
		        <p>
		          THE SOCIAL CHAT NODE SERVICE IS PROVIDED "AS IS" WITH NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS, STATUTORY OR IMPLIED, 
		          AS TO THE OPERATION OF THE SOCIAL CHAT NODE SERVICE, OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THE SOCIAL CHAT NODE SERVICE. 
		    TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, SOCIAL CHAT NODE AND ITS AFFILIATES DISCLAIM ALL WARRANTIES, EXPRESS,
		    STATUTORY, OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
		    NON-INFRINGEMENT. FURTHER, SOCIAL CHAT NODE AND ITS AFFILIATES DO NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE INFORMATION,
		    TEXT, GRAPHICS, LINKS OR OTHER INFORMATION CONTAINED IN THE SOCIAL CHAT NODE SERVICE. SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS
		    ON IMPLIED WARRANTIES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. SOCIAL CHAT NODE DOES NOT WARRANT THAT THE SATISFACTION
		    SERVICE WILL BE AVAILABLE AT ANY TIME OR FROM ANY PARTICULAR LOCATION, WILL BE SECURE OR ERROR-FREE, THAT DEFECTS WILL BE
		    CORRECTED, OR THAT THE SOCIAL CHAT NODE SERVICE IS FREE OF VIRUSES OR OTHER POTENTIALLY HARMFUL COMPONENTS. NO ADVICE OR
		    INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM SOCIAL CHAT NODE OR THE SOCIAL CHAT NODE SERVICE SHALL CREATE ANY WARRANTY
		    NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.
		        </p>
		        <p> 
		         SOCIAL CHAT NODE AND ITS AFFILIATES WILL NOT BE LIABLE UNDER
		    ANY THEORY OF LAW, FOR ANY INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO LOSS
		    OF PROFITS, BUSINESS INTERRUPTION, AND/OR LOSS OF INFORMATION OR DATA. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
		    LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU. 
		    NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, SOCIAL CHAT NODE'S MAXIMUM AGGREGATE LIABILITY TO YOU FOR ANY CAUSES
		    WHATSOEVER, AND REGARDLESS OF THE FORM OF ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY,
		    BY YOU TO SOCIAL CHAT NODE FOR THE SOCIAL CHAT NODE SERVICE IN THE 12 MONTHS PRIOR TO THE ACTION GIVING RISE
		    TO LIABILITY.
		        </p>
			
		</div>
		
		</td>
	
		<% if (!ismobile) { %>
	
		<td style="vertical-align:top;">
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-9581795834127896";
			/* sidebar */
			google_ad_slot = "6058372133";
			google_ad_width = 160;
			google_ad_height = 600;
			//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</td>
	
		<% } %>
	
	</tr>
	</table>
		
    </section>

    
<%- partial('foot') %>

